body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* .blog-1{
    color: darkgoldenrod;
} */
.flexiable{
    display:flex ;
    margin-bottom: 70px;
}
h2{
    font-size: 40px;
}
.blog2{
    width: 50%;
    padding: 4%;
    
}
.blog2 img{
    width: 82%;
}
.button1{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: floralwhite;
    padding: 10px 40px ;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dim-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.red-color{
    color:darkorange;
}
.blog3{
    box-shadow:10px 10px 17px darkseagreen;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
#boder1{
    border-left: 7px solid;
    border-image: linear-gradient(purple , salmon);
    border-image-slice: 1;
   
}
#boder2{
    border-left: 7px solid;
    border-image: linear-gradient(blue , cyan);
    border-image-slice: 1;
   
}
footer p {
    text-align: center;
}